// Title: Mailmap file for git
// Description: This file is used to map different email addresses to a single one

# This file maps authors to canonical names and email addresses (using @ulb.be)
# Use `git shortlog -se --all -n` to check the list of authors and commits, sorted by commits in main.


# Teachers

Alexis Reynouard    <alexis.reynouard@ulb.be>
Simon Renard        <simon.renard@ulb.be>
Simon Renard        <simon.renard@ulb.be> <simon12@gmail.com>


# Group members

Antoine Berthion        <antoine.berthion@ulb.be>
Ali Umar Babar          <ali.babar@ulb.be>
Ali Umar Babar          <ali.babar@ulb.be> <babaraliumar@outlook.com> 
Ali Umar Babar          <ali.babar@ulb.be> <babaraliumar23@gmail.com>
Ayman Benaim            <ayman.benaim@ulb.be>
Mamadou Barry           <mamadou.barry5@ulb.be> <mamadou8577@gmail.com>
Roberto Rabei           <roberto.rabei@ulb.be>
Roberto Rabei           <roberto.rabei@ulb.be> <robertorabei@Robertos-MacBook-Air.local>
Roberto Rabei           <roberto.rabei@ulb.be> <robertorabei@mac.home>
Rares Bors              <rares.bors@ulb.be>
Rares Bors              <rares.bors@ulb.be> <moreliciouscod@gmail.com>
Oleksandra Omelyanyuk   <oleksandra.omelyanyuk@ulb.be>
Taha Es-saâdouni        <taha.essaadouni@ulb.be>
Taha Es-saâdouni        <taha.essaadouni@ulb.be> <tahasa32ni@gmail.com>


