# Si des commits ont été faits avec le nom "simon12" et avec l'addresse mail "simon12@gmail.com", ajouter la ligne suivant pour qu'il soit associé à "Simon Renard" et l'addresse "simon.renard@ulb.be"

Alexis_Reynouard	<alexis.reynouard@ulb.be>
Ali_Umar_Babar	<ali.babar@ulb.be>
Ali_Umar_Babar	<ali.babar@ulb.be>	<babaraliumar23@gmail.com>
Antoine_Berthion	<antoine.berthion@ulb.be>
Ayman_Benaim	<ayman.benaim@ulb.be>
Mamadou_Barry	<mamadou.barry5@ulb.be>
Oleksandra_Omelyanyuk	<oleksandra.omelyanyuk@ulb.be>
Rares_Bors	<rares.bors@ulb.be>
Rares_Bors	<rares.bors@ulb.be>	<moreliciouscod@gmail.com>
Roberto_Rabei	<roberto.rabei@ulb.be> <robertorabei@Robertos-MacBook-Air.local>
Simon_Renard	<simon.renard@ulb.be>
Simon_Renard	<simon.renard@ulb.be>	<simon12@gmail.com>
Taha_Es-saâdouni	<taha.essaadouni@ulb.be>

# vim: ts=36 noexpandtab list listchars=tab\:\ -\ 
